@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
} */

header {
  background-color: #373b69;

  padding: 1rem;
}

header .container {
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

.modal-content {
  background-color: #000;
  border: none;
}

#main {
  padding: 2rem 0;
  background-color: #000;
}

#main .filter-buttons {
  margin-bottom: 2rem;
}

#main .popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
}

.movie {
  background-color: #1f1f1f;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.2rem;
  letter-spacing: 0.5px;
}

.movie-info > div {
  width: 100%;
}

.movie-info .title {
  min-height: 60px;
  margin-top: 10px;
}

.movie-info h3 {
  margin: 0;
  font-size: 16px;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(255, 255, 255);
  background: none;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.yellow {
  color: gold;
}

.rating {
  display: flex;
  align-items: center;
}

.rating span {
  display: inline-block;
  margin-left: 5px;
}

.movie-footer {
  display: flex;
  gap: 30px;
  align-items: center;
}

.trailer-btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  width: 120px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}

.trailer-btn svg {
  font-size: 26px;
}

.movie-modal {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  outline: none;
  display: flex;
}

.trailer-btn:hover,
.movie-modal:hover {
  color: rgba(255, 255, 255, 0.77);
}

#movieModal {
  max-width: 650px;
  border-color: #1f1f1f;
}

#movieModal .movie-modal-header {
  display: flex;
  gap: 30px;
}

#movieModal .movie-modal-header .img-container {
  width: 180px;
}

#movieModal .movie-modal-header .info-container {
  width: calc(100% - 130px);
}

#movieModal .modal-body {
  background-color: #1f1f1f;
  border-radius: 0.5rem;
}

#movieModal .trailer-btn {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  background: #000;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

#movieModal .trailer-btn:hover {
  background-color: #1f1f1f;
}

@media only screen and (max-width: 500px) {
  .movie-info .title {
    min-height: 20px;
  }

  #movieModal .movie-modal-header {
    flex-wrap: wrap;
  }

  #movieModal .movie-modal-header .img-container,
  #movieModal .movie-modal-header .info-container {
    width: 100%;
  }
}
